.Output {
    grid-area: output;
}

.Stack {
    grid-area: stack;
}

.Heap {
    grid-area: heap;
}

.Stack > div:first-child {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning-text-emphasis);
}

.Heap > div:first-child {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
}

.Variable {
    display: flex;
}

.Variable div {
    width: 50%;
}

.Stack h1, .Heap h1 {
    text-align: center;
    font-size: 1rem;
}
