.Output {
    grid-area: output;
}

.Stack {
    grid-area: stack;
}

.Heap {
    grid-area: heap;
}

.Variable {
    display: flex;
}

.Variable div {
    width: 50%;
}

.Stack h1, .Heap h1 {
    text-align: center;
    font-size: 1rem;
}