:root {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
    --header-height: 3.6rem;
}

*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}