:root {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #151515;
}

main {
    flex-grow: 5 !important;
    padding: calc(var(--bs-gutter-x) * 0.5);
    color: #151515 !important;
    background-color: #f8f9fa;
    border-left: 2px solid #DEE2E6;
    border-right: 2px solid #DEE2E6;
}

main * {
    margin-bottom: calc(var(--bs-gutter-x) * 0.5);
}

h2 {
    text-align: center;
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    border-bottom: 2px solid #DEE2E6;
}

main p {
    text-align: justify;
}

main a {
    text-align: center;
    margin-left: calc(50% - min(50%, 7.5rem));
    width: min(100%, 15rem);
}

main img {
    margin-left: calc(50% - min(50%, 12.5rem));
    width: min(100%, 25rem);
}

@media (max-width: 1200px) {
    main {
        flex-grow: 4 !important;
    }
}

@media (max-width: 768px) {
    header {
        height: 6rem;
    }

    main {
        flex-grow: 2 !important;
    }
    
    header .container {
        display: flex !important;
        justify-content: center !important;
        align-content: center;
    }
}

@media (max-width: 575px) {
    main {
        border: none;
    }
}