body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;

}

header {
    background-color: #151515;
}

main {
    background-color: #f8f9fa;
}