.NavTitle {
    aspect-ratio: 141 / 17;
    height: 2.6rem;
    padding: 0.3rem 0px 0.3rem 0px;
    width: calc(2rem * 141 / 17);
    max-width: 100%;
}

.ToBottom {
    height: calc(100% - 3.6rem);
}

.ToBottom div {
    height: 100%;
}

.SearchContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 15.25rem;
}

.SearchField {
    width: calc(100% - 2.75rem);
    outline: none;
    border: none;
}

.SearchButton {
    width: 2.5rem;
}

.LessonsList {
    padding: calc(var(--bs-gutter-x) * 0.5);
}

.LessonsList a {
    color: #000000;
    text-decoration: none;
    display: block;
    width: 100%;
}

.LessonsList a:hover {
    color: #363636;
    text-decoration: underline;
    display: block;
    width: 100%;
}

.LessonsList button {
    display: none;
}

.MobileView {
    display: none;
}

@media (max-width: 768px) {
    .NavTitle {
        padding: 0px 0.5rem 0.3rem 0.5rem;
    }

    .SearchContainer {
        width: 100%;
        padding: 0px 0.5rem 0px 0.5rem;
    }

    .ToBottom {
        height: calc(100% - 6rem);
    }
}

@media (max-width: 575px) {
    .LessonsList {
        position: fixed;
        left: 0px;
        top: 0px;
        transform: translateX(-100%);
        width: min(100%, 12rem);
        height: 100vh;
        background-color: white;
        text-align: left;
        transition: transform 0.5s;
    }
    
    .LessonsList button {
        display: block;
        position: absolute;
        margin: 0px;
        transform: translate(25%, -25%);
        right: calc(var(--bs-gutter-x) * 0.5);
        aspect-ratio: 1;
        height: 1.5rem;
        border: none;
        background-color: transparent;
    }

    .ToBottom div main {
        border: none;
    }

    .MobileView {
        display: block;
    }
}